<form method="post" action="/login">
<label for="login-email">Email: </label>
<input type="text" name="user[email]" value="" id="login-email">

<label for="login-password">Password: </label>
<input type="password" name="user[password]" value="" id="login-password">
<input type="submit" value="Login">
</form>