<h1>Edit</h1>
<form method="post" action="/movies/<%=@movies.id%>">
<input type="hidden" name="_method" value="patch">

<label for="title">Title: </label>
<input type="text" name="title" id="title" value="<%=@movies.title%>">
<label for="director">Director: </label>
<input type="text" name="director" id="director" value="<%=@movies.director%>">
<label for="genre">Genre: </label>
<input type="text" name="genre" id="genre" value="<%=@movies.genre%>">
<input type="submit" value="Edit">
</form>