<h1>Create Movie</h1>

<form method="post" action="/signup">
<label for="title">Title: </label>
<input type="text" name="title" id="title">
<label for="director">Director: </label>
<input type="director" name="director" id="director">
<label for="genre">Genre: </label> 
<input type="text" name="genre" id="genre">
<input type="submit" value="Create">
</form>
