<h1>Login</h1>

<form method="post" action="/login">
<label for="login-username">Username: </label>
<input type="text" name="user[username]" value="" id="login-username">
<label for="login-password">Password: </label>
<input type="password" name="user[password]" value="" id="login-password">
<input type="submit" name="" value="Login">
</form>

<a href="/signup">Signup</a>