<form method="post" action="/login">
<label for="login-username">Username: </label>
<input type="text" name="user[username]">

<label for="login-password">Password: </label>
<input type="password" name="user[password]">
<input type="submit" value="Login">
</form>

<a href="/signup">Signup</a>