<h1>Welcome to Movie List App</h1>


<p>The Movie List App allows you to track movies you're interested in. You have the ability to add movies and store them with indept details that would be associated with a movie. Before you can get started you must either create an account by signing up or login if you already have one.</p>
<a href="/signup" role="button">Signup</a>
<a href="/login" role="button">Login</a>
